
.landing{
    position: absolute;
   
    display: flex;
    height: 100vh;
    z-index: 20;
    pointer-events: none;
   
    
    .sliderContainer{
      position: absolute;
   
      
    }
    
    .slider{
      position: relative;
      
      white-space: nowrap;
      left: 20%;
      top: calc(50vh - 480px);
      z-index: 10;
    }
    
    .slider p{
      position: relative;
      margin: 0px;
      color: white;
      font-size: 100px;
      font-weight: 600;
      top: calc(50vh - 250px);
      left: 8%;
      
      
  
    }
    
    .slider p:nth-of-type(2){
      position: absolute;
      left: 30%;
      top: 0;
      font-size: 100px;
      font-weight: 600;
      text-align: left;
      top: calc(47.5vh - 100px);
    }
    .slider p:nth-of-type(3){
        position: absolute;
        left: 8%;
        top: 0;
        font-size: 100px;
        font-weight: 600;
        text-align: left;
        top: calc(51vh );
      }
  
   
    }

  