.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem; 
  background-color: #141516; 
  text-align: center; 
  color: gray; 
  padding: 1rem; 
  font-size: 0.875rem; 
}
